*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/org.xtext.compilador.java.tests/bin/
/org.xtext.compilador.java.tests/src-gen/
/org.xtext.compilador.java.tests/xtend-gen/
/org.xtext.compilador.java.ui/bin/
/org.xtext.compilador.java.ui/src-gen/
/org.xtext.compilador.java/src-gen/
/org.xtext.compilador.java.ui/src/
/org.xtext.compilador.java/xtend-gen/
/org.xtext.compilador.java/src/org/xtext/compilador/java/formatting/
/org.xtext.compilador.java/src/org/xtext/compilador/java/generator/
/org.xtext.compilador.java/src/org/xtext/compilador/java/scoping/
/org.xtext.compilador.java/src/org/xtext/compilador/java/validation/

